* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/PicsArt_10-19-02.24.19.jpg);
    background-color: rgb(31, 123, 135);
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 6, 8, 0.185);
  
}
#navbar div{
    display: flex;
    align-content: space-around;
}
#navbar ul{
    padding: 10px 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    
}
#navbar ul li{
    padding: 10px 30px;
    list-style: none;
    display: flex;    
}
#logo-nav{
    padding: 10px 30px;    
    display: flex;
    align-items:center;
    /* background-color: yellow; */
}
#logo-nav img{
    /* height: 50px;
    padding: 10px; */
}
#logo-nav p{
    color: rgb(169, 171, 174)
}
h1 {
    color: beige;
}
a{
    text-decoration: none;
}
#principal{
    display: flex;
    height: 455px;
    justify-content: space-around;
    align-items: center;
}
.formulario{
    /* height: 500px;
    
     */
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
input[type=submit]{
    border:none;
    cursor:pointer;
    border-radius:;
    padding: 10px 16px;
}
.list ul{ 
    padding: 20px 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.list ul li{
    padding: 0px 20px;
}
footer{
    color: rgb(31, 123, 135);
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.footerlist{
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
}
#ligmail{
    display: flex;
    align-items: row;
}
#ligmail img{
    width:35px;
    height: 35px;
}
.row:after{
    content: "";
    display: flex;
    justify-content: center;
    clear: both;
}
.col-25{
    float: center;
    width: 25%;
    margin-top: 6px;
}
.col-75{
    float: center;
    width: 75%;
    margin-top: 6px;
}

